@use "sass:color";

$bg: #1e1f29;
$fg: #f8f8f2;
$accent: #378DF7;
$radius: 12px;

.Dashboard {
    border: 2px solid #ff79c6ff;
    // box-shadow: none;
    background-color: $bg;
    border-radius: $radius;
    // color: $fg;
    // font-size: 1em;
    // font-weight: bold;
    // opacity: 0.9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    // padding: 8px;
}

.DashboardButton {
    // border: 2px solid #ff79c6ff;
    // box-shadow: none;
    background-color: $bg;
    border-radius: $radius;
    // color: $fg;
    // font-size: 1em;
    // font-weight: bold;
    opacity: 0.9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    // padding: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.AudioSlider {
    trough {
        background-color: color.adjust($fg, $alpha: -0.8);
        border-radius: $radius;
    }

    highlight {
        background-color: $accent;
        min-height: .4em;
        border-radius: $radius;
    }

    slider {
        background-color: red;
        border-radius: $radius;
        min-height: 0.3em;
        min-width: 0.3em;
        // margin: -.6em;
    }
}

