@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

.Applauncher {
    background-color: $bg-color;
    
    border-radius: 12px;
    // margin: 1rem;
    padding: .8rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
    border: 2px solid #ff79c6ff;
    opacity: 1;
}

.Applauncher button {
    min-width: 0;
    min-height: 0;
    padding: .5rem;
    border-radius: 6px;
    // padding-top: 0;
    // padding-bottom: 0;

    icon {
        font-size: 1.8em;
        margin-right: .3rem;
    }

    label.name {
        font-weight: bold;
        font-size: 1.2em
    }

    label.description {
        color: gtkalpha($fg-color, .8);
    }
}

.Applauncher entry {
    margin-bottom: .8rem;
}
