window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 20px;
    opacity: 1;
}

.workspaces button {
    /* min-height: 30px; */
    /* min-width: 0; */
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-radius: 100%;
    /* border-radius: 20px; */
}

.workspaces button:active {
    background-color: @theme_selected_bg_color;
}

.workspaces button:hover {
    border-bottom: 2px solid @theme_fg_color;
}

.workspaces label {
    font-weight: bold;
}

.workspaces button.focused {
    border-bottom: 2px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.date {
    border: none;
}

.notification {
    /* color: yellow; */
    color: black;
}

.caffeine {
    border-radius: 100%;
    /* border: none; */
    color: #000000;
}

.battery {
    /* border-radius: 100%; */
    border: none;
    color: #000000;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.systray button {
    border-radius: 100%;
    /* border: none; */
    background-color: @theme_bg_color;
}

levelbar block,
highlight {
    min-height: 10px;
}